{# src src/Taller/AeronauticoBundle/Resource/views/Aeronave/list.html.twig #}

{% extends 'AeronauticoBundle::layout.html.twig' %} 

{% block title %}Listado de Aeronaves {% endblock %}


{% block body %}
<div class="cuerpo grid_16 " >
    {{ block('titulo_page') }}
        <table>
            <thead>
                <tr>
                    <th min-width=7px>#</th>
                    <th>Siglas</th>
                    <th>Tipo</th>
                    <th>Serial</th>
                    <th>Comp</th>
                    <th>Cliente</th>
                    <th>Horametro</th>
                    <th>HorasTT</th>
                    <th>Ciclos</th>
                    <th width=95px>Acciones</th>
                </tr>
            </thead>

            <tbody>
                    {% for aeronave in aeronaves %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{ aeronave.serial }}</td>
                            <td>{{ aeronave.tipoAeronave.nombre}}</td>
                            <td>{{ aeronave.siglas }}</td>
                            <td>{{ aeronave.componentes | length }}</td>
                            <td><a href="" title="Ver detalle de la empresa">{{ aeronave.cliente.empresa.nombre | truncate(20, true) |upper}}</a></td>
                            <td>{{aeronave.horametro|default('--') }}</td>
                            <td>{{aeronave.horastt|default('--') }}</td>
                            <td>{{aeronave.ciclos|default('--') }}</td>
                            <td>
                                <a href="{{ path('_AeronauticoBundle_show', { 'id': aeronave.id}) }}"><img src="{{ asset('images/show.png') }}" title="Ver Detalle"/></a>
                                <a href="{{ path('_AeronauticoBundle_edit', { 'id': aeronave.id}) }}"><img src="{{ asset('images/edit.png') }}" title="Editar"/></a>
                                <a href="{{ path('_AeronauticoBundle_del', { 'id': aeronave.id}) }}"><img src="{{ asset('images/delete.png') }}" title="Eliminar"/></a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr>
                            <td colspan="10"><h1>No existe ninguna aeronave</h1></td>
                        </tr>
                    {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <a href="{{path("_AeronauticoBundle_new")}}" class="btn" >Nueva Aeronave</a>
                    </td>    
                </tr>
            </tfoot>
        </table>
        
</div>
{% endblock body%}
